body {
    background-image: url("../images/background.jpg");
    background-size: cover;
}

.container {
    text-align: center;
    background-color: #ee2e23;
    margin: auto;
    width: 75%;
    margin-top: 20px;
    padding-bottom: 550px;
    position: relative;
}

#title {
    font-style: italic;
    font-size: 4em;
    color: white;
}

#startButton {
    color: white;
    position: absolute;
    left: 0;
    font-size: 2em;
    right: 0;
    margin: auto;
    text-align: center;
    margin-top: 200px;
    padding: 20px;
    /* background-color: blue; */
    width: 30%;
}

#startButton:hover {
    background-color: blue;
    border: 2px white inset;
}