* {
    box-sizing: border-box;
}


body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-attachment: fixed;

}

.container {
    text-align: center;
    border: 2px white inset;
    background-color: #ee2e23;
    margin: auto;
    width: 75%;
    height: 600px;
    margin-top: 20px;
    position: relative;
}

#title {
    font-style: italic;
    font-size: 4em;
    color: greenyellow;
}

#startButton {
    font-size: 2em;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 175px;
    padding: 20px;
}

#startButton:hover {
    width: 33%;
    background-color: blue;
    border: 2px white inset;
}

#firstans:hover, #secondans:hover, #thirdans:hover, #fourthans:hover {
    width: 33%;
    background-color: blue;
    border: 2px white inset;
    margin: auto;
}

#timeRemains {
    margin-top: 50px;
    color: white;
    font-size: 1.5em;
}

#questionfield {
    color: white;
    font-size: 1.25em;
    margin-top: 25px;
}

#answerfield { 
    color: white;
    font-size: 1.25em;
    margin-top: 20px;
}